@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer base
{
  :root
  {
    --radius: 0.5rem;
  }
}

.animated-heading
{
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.2s ease-in-out;
  font-weight: 700;
  font-size: large;
  color: mintcream;
}

.animated-heading::after
{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #14b8a6;
  /* Tailwind teal-200 color */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.animated-heading:hover
{
  color: #14b8a6;
  /* Tailwind teal-200 color */
}

.animated-heading:hover::after
{
  transform: scaleX(1);
}

.rmdp-container
{
  width: 100%;
}